//     version  6/9/24  12:34

/*
 *    |      |   |\   |   |‾‾‾\    |‾‾‾‾   |‾‾‾\   |       ‾‾|‾‾   |\   |   |‾‾‾‾
 *    |      |   | \  |   |    \   |       |___/   |         |     | \  |   |
 *    |      |   |  \ |   |    /   |‾‾‾‾   |  \    |         |     |  \ |   |‾‾‾‾
 *     \____/    |   \|   |___/    |____   |   \   |____   __|__   |   \|   |____
*/

  // Hover underline animation https://uiverse.io/alexmaracinaru/empty-moose-12

  .cta {
    border: none !important;
    background: none !important;
    background-color: #fff0 !important;
    cursor: pointer;
  }
  .cta span {
    padding-bottom: 4px;
  }
  .underline-animation {
    position: relative;
    color: black;
    padding-bottom: 10px;
  }
  .underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .cta:hover .underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  // Hover thin/thick underline

  .underline {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em !important;
  }
  .underline:hover {
    color: #0d6efd !important;
    text-decoration-color: #0d6efd !important;
    text-decoration-thickness: 2.6px;
    text-underline-offset: 0.3em !important;
  }
